# Temp files
.asphalt-debug

# Local config
settings.json
selene.toml
.env

# Testing
src/Modules/Stories

# Artifacts
/Packages
/ServerPackages
src/Assets/_asphalt.luau
sourcemap.json
**.rbxl
**.rbxl.lock
